body{
    margin: 0;
    padding: 0;
}

.graph-container {
    height: 500px;
    width: 100%;
    min-width: 100%
}

#license-footer, .license-footer {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    font-size: small;
    border-top: 1px solid #ddd;
}